<style>
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    display: block;
    overscroll-behavior: none;
}
#outershell {
    background: #ffffff;
    min-height: 100vh;
}
div.header {
    text-decoration-color: #ffffff;
    margin-bottom: 1px solid grey;
}
.inner  {
    display: flex;
    height: 75px;
    align-items: center;
}
.inner ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.inner ul li {
    list-style: none;
}

div.sub_section_intro {
    overflow: hidden;
    padding: 92px 40px 110px;
    background:black;
}

div { display: block;
}
.sub_section {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px 100px;
    word-break: keep-all;
    text-align;left;
    box-sizing: content-box;
}
.sub_section_title {
    padding: 80px 0;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.29;
    color:black;

}
.sub_section *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sub_section_dsc {
    display: flex;
    height: 100%;
}
.sub_section_dsc>div {
    flex: 1;
    position: relative;
    width: 50%;
    padding: 0 30px 140px 0;
}
.sub_section_dsc dt {
    font-size: 32px;
    font-weight: bold;
    line-height: 47px;
    letter-spacing: -0.5px;
    color: #333;
}
dt {
    display: block;
    font-weight: 700;
    ;
}
dd {
    display: block;
    margin-inline-start: 40px;
}
.sub_section_dsc a::before {
    left: 0;
    width: 30px;
    background: url(https://rmkcdn.successfactors.com/c4444335/823acf5e-8708-49e6-91fe-9.png)
    no-repeat 50% 50%;
    background-size: 100% auto;
}
.process-title-area {
    margin-top: 160px;
    color: #333;
    letter-spacing: -0.25px;
    color: #333;
}
.process-title-area h2 {
    margin-top: 24px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
}
.process-title-area p {
    margin-top: 24px;
    max-width: 660px;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
}
.tab-section .tab-area {
    display: flex;
    margin-top: 40px;
}
.tab-area {
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}
.tab-area .tab-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
}
.tab-area .tab-list .tab-item {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.tab-area .tab-list .is-active .tab-link {
    background-color: yellow;
    color: #333 !important;
    cursor: pointer;
}
.tab-area .tab-list .tab-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding:0 12px 1px;
    border-radius: 13px;
    color: #666 !important;
    background-color: #f3f3f3;
    text-decoration: none;
    ;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ul {
    
    display: block;
    list-style: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.tab-section[data-show="tech"] #tech-content {
    display: block;
}
.tab-section .tab-content {
    display: none;
}
.tab-section img {
    display: block;
    width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
#content ol {
    padding-left: 0;
}
#content ol {
    list-style-position: inside;
    padding-left: 20px;
}
.tab-section .tab-area {
    display: flex;
    margin-top: 40px;
}
.tab-area {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}
.tab-content .process-list {
    counter-reset: li;
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    word-break: normal;
}
.tab-content .process-list li {
    margin: 60px 0 0 0 ;
    padding-left: 25px;
    width: 33.33%;
    font-size: 16px;
    line-height: 30px;
    color: #666;
    letter-spacing: -0.5px;
}
.sub-link .img-kep1 {
    background-image: url('https://rmkcdn.successfactors.com/c4444335/64276ebd-d4ff-4de5-bb41-f.png');
}
.sub-link span {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: no-repeat 50% 50%;
    background-size: 100% auto;
    font-size: 1px;
    vertical-align: middle;
}
.footer {
    border: 2px solid green;
    height: 300px;
    line-height: 400px;
}
.sub_section_intro div {
    width: 100%;
    max-width: 1600px;
    height: 300px;
    margin: 0 auto;
    background: url(//rmkcdn.successfactors.com/c4444335/d7ade7ef-39a0-487e-8b40-0.png) 50% 50% no-repeat;
    background-size: 100% auto;
}
.sub_section_dsc a {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 62px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}
